# Allow folder PublishOutput
!src/AspNetCoreBluemixResearch.Web/bin/
src/AspNetCoreBluemixResearch.Web/bin/*
!src/AspNetCoreBluemixResearch.Web/bin/Release/
src/AspNetCoreBluemixResearch.Web/bin/Release/*
!src/AspNetCoreBluemixResearch.Web/bin/Release/PublishOutput/

/src/AspNetCoreBluemixResearch.Web/obj
/.vs/AspNetCoreBluemixResearch/v14
/.vs