################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/AspNetCoreBluemixResearch.Web/bin/Debug/netcoreapp1.0
