################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/src/AspNetCoreBluemixResearch.Web/bin
/src/AspNetCoreBluemixResearch.Web/obj
/.vs/AspNetCoreBluemixResearch/v14
/.vs
